<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechExpress - 2023</title>
</head>
<body>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h4>{{ user.full_name }}</h4>
        </div>

        <div style="display: flex; gap: 15px;">
            <a href="{% url 'issue_list' %}">Issues</a>
            <a href="{% url 'tag_list' %}">Tags</a>
        </div>

        <div style="display: flex; gap: 15px;">
            {% if user.is_authenticated %}
                <a href="{% url 'tag_create' %}">Create tag</a>

                <a href="{% url 'issue_create' %}">Write</a>
                <a style="color: firebrick;" href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'login' %}">Log in</a>
                <a href="/register/">Sign up</a>
            {% endif %}
        </div>
    </div>
    
    {% block content %}{% endblock %}
</body>
</html>
